<%-include('./includes/navigation')%>
  <%-include('./includes/registration') %>
  <body>
    <section class="reg">
   
    <div class="login-form">
      <form action="/signup" method="post">
        <h2 class="text-center">Registracija</h2>
        <div class="form-group">
          <label for="id_name" class="form-label">Ime:</label>
          <input
            type="name"
            name="name"
            class="form-control"
            placeholder="Ime: "
            id="id_name"
            required="required"
          />
        </div>
        <div class="form-group">
          <label for="id_lastname" class="form-label">Prezime:</label>
          <input
          name="lastname"
            type="lastname"
            class="form-control"
            placeholder="Prezime: "
            id="id_lastname"
            required="required"
          />
        </div>
        <div class="form-group">
          <label for="id_email" class="form-label">Email:</label>
          <input
          name="email"
            type="email"
            class="form-control"
            placeholder="Email: "
            id="id_email"
            required="required"
          />
        </div>
        <div class="form-group">
          <label for="id_password" class="form-label">Šifra:</label>
          <input
          name="password"
            type="password"
            class="form-control"
            placeholder="Šifra"
            id="id_password"
            required="required"
          />
        </div>
        <div class="form-group">
          <button id="reg" type="submit" class="btn btn-primary btn-block">
            Registracija
          </button>
        </div>
                <%if(error){%>
        <div class="form-group">
          <p style="color:red; margin-left: 12px;">
            Korisnik sa tom e-mail adresom već postoji. Molimo pokušajte ponovo sa drugom e-mail adresom.
          </p>
        </div>
        <%}%>
        <div>
          <p class="text-center"><a href="/login">Prijava</a></p>
        </div>
      </form>
    </div>
       
    </section>
       <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Kontakt</h2></div>
      </div>

<div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Sarajevo+(Virtual%20Doctor)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Lokacija:</h4>
                <p>Sarajevo, Bosna i Hercegovina</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@primjer.ba</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Telefon:</h4>
                <p>+387 00 000 000</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Vaše ime:" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Vaš Email:" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Predmet:" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Poruka:"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Učitavanje</div>
                <div class="error-message"></div>
                <div class="sent-message">Vaša poruka je poslana.</div>
              </div>
              <div class="text-center"><button type="submit">Pošaljite poruku</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
      <%-include('./includes/js')%>
  </body>
</html>
